doctype html
html(lang="en")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		title Haluka
		link(rel="stylesheet", href="css/app.css")
	body
		div(id="app")
		// Scripts
		script(src="js/app.js")
